<!-- Footer -->
<footer class=" text-center bg-black text-white text-lg-start  text-muted mt-5">
  <!-- Section: Social media -->
  <section class="container text-white opacity-75 d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="text-white opacity-75">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mb-4 ">
          <h6 class="text-uppercase fw-bold mb-4"> Exclusive </h6>
          <p class="fw-medium">subscribe</p>
          <p> Get 10% off your first order</p>
          <input class="form-control w-75" type="text" value="Send Email..." aria-label="readonly input example"
            readonly>
        </div>

        <!-- Grid column -->
        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4"> Support</h6>
          <p>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
          <p>exclusive.com </p>
          <p>+88015-88888-9999</p>
          <p></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2  mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Account</h6>
          <p>My Account</p>
          <p>Login / Register</p>
          <p>Cart</p>
          <p>Wishlist</p>
          <p>shop</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4  mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Download App</h6>
          <p>Save $3 with App New User Only</p>
          <p><i class="fas fa-envelope me-3"></i>example.com</p>
          <p><i class="fas fa-phone me-3"></i> + 20 109 154 8180</p>
          <p><i class="fas fa-print me-3"></i> + 20 109 154 8180</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="text-center p-4  bg-black ">
    <p class=" text-white opacity-50"> © 2024 Copyright: NTI GROUPS</p>
  </div>
</footer>