<h1 class="text-center m-auto mt-4 p-2 bg-dark text-white w-25">Best Sellers</h1>
@if (products.length > 0) {
<div class="container mt-5 ps-5">
  <div class="row ">
    @for (product of products; track product._id) {
    <div class="card m-3 col-md-3 " style="width: 18rem;">

      <img [src]="product.cover" class="card-img-top w-100 h-50" [alt]="product.name">
      <div class="card-body position-relative">
        <h5 class="card-title">{{ product.name.slice(0,19)}}</h5>
        <p class="card-text">{{ product.description?.slice(0, 50) || 'No description available' }}...</p>
        <p class="card-text">Price: {{ product.price | currency: 'EUR' }}</p>
        <p class="card-text">{{ product.rateAvg | number: '1.1-1' }} ★ - Count: {{ product.rating }}</p>
        <div class="position-absolute btn-card start-0">
          <a [routerLink]="['/products', product._id]" class="btn btn-primary mx-2">See More</a>
          <button class="btn btn-success mx-2">Add to Cart</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

} @else {
<h2 class="text-center w-25 m-auto bg-dark rounded-3 mt-4 p-3 text-danger text-capitalize">try again later ...</h2>
}