<div class="container mt-5 profile-container">
    <div class="row">
      <!-- Sidebar Navigation -->
      <div class="col-md-3 sidebar">
        <h6 class="section-title">Manage My Account</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Address Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Payment Options</a>
          </li>
        </ul>
        <h6 class="section-title mt-4">My Orders</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">My Returns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Cancellations</a>
          </li>
        </ul>
        <h6 class="section-title mt-4">My Wishlist</h6>
      </div>
  
      <!-- Edit Profile Form -->
      <div class="col-md-9">
        <h4 class="form-title mb-4">Edit Your Profile</h4>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Md" />
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Rimel" />
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="rimel111@gmail.com" />
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Kingston, 5236, United States" />
          </div>
          <h5 class="password-title mt-4">Password Changes</h5>
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" />
            </div>
            <div class="form-group col-md-6">
              <label for="confirmPassword">Confirm New Password</label>
              <input type="password" class="form-control" id="confirmPassword" />
            </div>
          </div>
          <div class="button-group">
            <button type="button" class="btn btn-light cancel-btn mr-3">Cancel</button>
            <button type="submit" class="btn btn-danger save-btn">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  