.container{
    height: 80vh;
}
body {
    background-color: #f8f9fa; /* Light background */
  }
  
  .card {
    border-radius: 10px;
  }
  
  .otp-box {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .otp-box:focus {
    border-color: #ca0c0c;
    box-shadow: 0 0 5px rgba(129, 37, 9, 0.5);
  }
  
  .otp-box::-webkit-inner-spin-button,
  .otp-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  