<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
     
        <!-- Email Input -->
         @if(!sendMailFlag){
         <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword(forgetPasswordForm)">
          <h4 class="text-center mb-3">Forgot Password</h4>
          <p class="text-muted text-center mb-4">
            Enter your email to reset your password.
          </p>
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input formControlName="email" class="form-control" id="email"  type="email" placeholder="email">
          </div>
          <!-- <div class="p-3">
            <input formControlName="email" class="form-control" type="email" placeholder="email">
            @if (forgetPasswordForm.get('email')?.errors !== null && forgetPasswordForm.get('email')?.touched) {
              @if (forgetPasswordForm.get('email')?.errors?.['required']) {
                <p class="text-danger mt-2">email required</p>
              }
              @if (forgetPasswordForm.get('email')?.errors?.['email']) {
                <p class="text-danger mt-2">invalid email</p>
              }
            }
            @if (emailError !== '') {
              <p class="text-danger mt-2">{{ emailError }}</p>
            }
          </div> -->
          <div class="d-grid">
            <button [disabled]="forgetPasswordForm.invalid" type="submit" class="btn btn-danger">Send Mail</button>
          </div>
         </form>
         <div class="text-center mt-3">
          <a routerLink="/login" class="text-decoration-none">Back to Login</a>
        </div>
         }
       @if(sendMailFlag && !verifyCodeFlag){
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
          <p class="text-muted text-center mb-4">
            Enter your code to reset your password.
          </p>
          <!-- OTP Section -->
          <div class="mb-3 text-center">
            <label for="otp" class="form-label">Enter Verification Code</label>
            <input formControlName="resetCode" class="form-control" type="text" placeholder="OTP" id="otp">
            <!-- <div class="d-flex justify-content-center gap-2">
              <input formControlName="resetCode"
                type="text"
                maxlength="1"
                class="otp-box form-control text-center"
              />
              <input formControlName="resetCode"
                type="text"
                maxlength="1"
                class="otp-box form-control text-center"
              />
              <input
                type="text"
                maxlength="1"
                class="otp-box form-control text-center"
              />
              <input
                type="text"
                maxlength="1"
                class="otp-box form-control text-center"
              />
              <input
                type="text"
                maxlength="1"
                class="otp-box form-control text-center"
              />
              <input
                type="text"
                maxlength="1"
                class="otp-box form-control text-center"
              />
            </div> -->
          </div>
    
          <!-- Confirm Button -->
          <div class="d-grid">
            <button [disabled]="verifyCodeForm.invalid" type="submit" class="btn btn-danger">Confirm</button>
          </div>
        </form>
       }
  @if(verifyCodeFlag){
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
      <h4 class="text-center mb-3">Forgot Password</h4>
      <p class="text-muted text-center mb-4">
        Enter your new password and confirm password.
      </p>
      <div class="mb-3">
        <label for="password" class="form-label">password </label>
        <input formControlName="password" class="form-control" id="password"  type="password" placeholder="password">
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">confirm Password</label>
        <input formControlName="confirmPassword" class="form-control" id="confirmPassword"  type="Password" placeholder="confirm Password">
      </div>
    
      <div class="d-grid">
        <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-danger">Send Mail</button>
      </div>
     </form>
  }        
      
    </div>
  </div>
  